body {
    font-family: Lato;
    padding: 10px 30px;
}
.name {
    margin: 0;
}

.link {
    font-weight: bold;
    padding: 0 10px;
}

.wannabe {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px;
}

li {
    font-weight: 400;
    font-size: 1rem;
}

.interest-title {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: solid !important;
}

.about p {
    font-size: 1.2rem;
    font-weight: 400;
}
.about a {
    font-weight: 600;
}
.annotation {
    font-size: 14px;
    font-style: italic;
}

.blog p {
    font-size: 18px;
}

.blog li {
    font-size: 1.2rem;
    padding: 10px 0;
}
.profile-photo {
    width: 280px;
    max-width: 100%;
    border-radius: 10px;
}

.readings p {
    font-weight: 400;
    font-size: 1.2rem;
}

.readings li {
    font-size: 1.4rem;
}